@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body{
  overflow-x: hidden;
}
body::-webkit-scrollbar,*::-webkit-scrollbar{
  width: 5px !important;
}
body::-webkit-scrollbar-track,*::-webkit-scrollbar-track{
  background: #f1f1f1; 
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb,*::-webkit-scrollbar-thumb{
  background: #b9b9b9 !important; 
  border-radius: 10px !important;
}
.first {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 20px;
}
.second{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.second .small{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-template-rows: repeat(2,300px);
  gap: 20px;
}
.statistic{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.second .big{
  height: 620px;
}
/*responsive*/
@media (max-width: 450px) {
  
  .first .card{
     height: 260px !important;
  }

  .card img{
     height: 70% !important;
  } 
  .first .card p{
    font-size: 12px !important;
  }
  
  
}

@media (max-width: 640px){
  .first{
    grid-template-columns: repeat(auto-fill,minmax(45%,1fr));
    gap: 10px;
  }
  .second .small{
    grid-template-columns: repeat(auto-fill,minmax(45%,1fr));
  }
  .second{
    grid-template-columns: 1fr;
   
  }
  .statistic{
    grid-template-columns: repeat(1,1fr);
  }
  .second .big{
    height: 400px !important;
  }
  .second .big img{
    height: 65%;
  }
  .second .big h1{
    font-size: 18px !important;
  }
  .second .big p{
    font-size: 14px !important;
  }
  .second .big span{
    font-size: 16px !important;
  }
  .second .big button{
    padding-top: 8px !important;
  }
  .second .small{
    grid-template-rows: repeat(3,260px) !important;  
  }
} 

/* tailwind screens size */
@media (min-width: 640px) {
  /* .first{
    grid-template-columns: repeat(3,1fr);
 } */
 .second{
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(4,auto); */
 }
 /* .second .small{
  grid-template-columns: repeat(2,1fr);
 } */
 .statistic{
  grid-template-columns: repeat(1,1fr);
}
}

@media (min-width: 768px) {
  /* .first{
    grid-template-columns: repeat(3,1fr);
 } */
 /* .second .small{
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,300px);
 } */

 .second{
  /* grid-template-rows: 500px repeat(3,300px); */
}

}

@media (min-width: 1024px) {
   /* .first{
      grid-template-columns: repeat(4,1fr);
   } */
   .second{
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: repeat(2,300px); */
  } 
  
  /* .second .small{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,290px);
  } */
  .statistic{
    grid-template-columns: repeat(3,1fr);
  }
}

@media (min-width: 1280px) {
  /* .first{
    grid-template-columns: repeat(5,1fr);
 } */
}

@media (min-width: 1536px) {
}
/* my screens */

@media (min-width:640px) and (max-width:875px) {
  .second .small{
    grid-template-rows: repeat(3,350px) !important;  
  }
}
@media (min-width: 1024px) and (max-width:1286px){
  .second .small{
    grid-template-rows: repeat(3,350px) !important;  
  }
}